{% extends 'admin/layout.html.twig' %}

{% block title %}Ajouter un nouvel utilisateur
{% endblock %}

{% block content %}
<section class="py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
				<h2>Ajouter un nouvel utilisateur</h2>

				{{ include('/admin/user/_form.html.twig') }}
			
				<a class="btn btn-outline-secondary btn-sm mt-3" href="{{ path('user_list') }}" role="button">Retour</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
