{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<section>
    <div class="container-fluid px-0">
      <div class="row vh-75">
        <div class="col-md-6 px-md-12 pt-5">
            <h1 class="pb-8">Contact</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque molestias magni natus dolorem nesciunt aperiam odit, earum amet ullam? Vero labore, iure unde atque expedita mollitia ipsam est sunt inventore!</p>
            <p>Petite Caserne
        2 allée des Platanes - BP628</p>
        <p>64106 BAYONNE cedex</p>
        <p>05 59 46 50 10</p>




          <!--Grid column-->
          <div class="col-md-9 mb-md-0 mb-5"></div>
              <form id="contact-form" name="contact-form" action="" method="POST">
  
                  <!--Grid row-->
                  <div class="row">
  
                      <!--Grid column-->
                      <div class="col-md-6">
                          <div class="md-form mb-0">
                              <input type="text" id="name" name="name" class="form-control">
                              <label for="name" class="">Your name</label>
                          </div>
                      </div>
                      <!--Grid column-->
  
                      <!--Grid column-->
                      <div class="col-md-6">
                          <div class="md-form mb-0">
                              <input type="text" id="email" name="email" class="form-control">
                              <label for="email" class="">Your email</label>
                          </div>
                      </div>
                      <!--Grid column-->
  
                  </div>
                  <!--Grid row-->
  
                  <!--Grid row-->
                  <div class="row">
                      <div class="col-md-12">
                          <div class="md-form mb-0">
                              <input type="text" id="subject" name="subject" class="form-control">
                              <label for="subject" class="">Subject</label>
                          </div>
                      </div>
                  </div>
                  <!--Grid row-->
  
                  <!--Grid row-->
                  <div class="row">
  
                      <!--Grid column-->
                      <div class="col-md-12">
  
                          <div class="md-form">
                              <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                              <label for="message">Your message</label>
                          </div>
  
                      </div>
                  </div>
                  <!--Grid row-->
  
              </form>
  
              <div class="text-center text-md-left">
                  <a class="btn btn-primary">Send</a>
              </div>


          </div>




          <div class="col-md-6">
            <iframe src="https://www.google.com/maps/d/embed?mid=1g6iJEvA6xL7J0c5FQsrb3--u5S1GsI-A" width="100%" height="100%"></iframe>
        </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}