{% extends 'base.html.twig' %}

{% block title %}Accueil - Audap{% endblock %}

{% block body %}

    <h1>Bonjour </h1>
    {% if app.user %}
    Salut {{ user.firstname }}
    {% else %}
    Salut vous n'etes pas connecté
    {% endif %}
{% endblock %}
