{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}

<section>
<div class="container">
<div class="row">
<div class="col-12 py-5 text-center">
<nav class="py-5" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>
<h1>
Publication details
</h1>
</div>
</div>
</div>
</section>

<section class="h-75" style="background-image: url({{ asset('build/images/pexels-scott-webb-1029606.jpg') }});">
</section>
{% endblock %}