
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/grumphp.yml
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.yml/
/migrations/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/.env
/grumphp.yml
/migrations/
