{% extends 'base.html.twig' %}

{% block title %}New Keyword{% endblock %}

{% block body %}
    <h1>Create new Keyword</h1>

    {{ include('/admin/keyword/_form.html.twig') }}

    <a href="{{ path('keyword_list') }}">back to list</a>
{% endblock %}
