{% extends 'base.html.twig' %}

{% block title %}Edit Publication{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center py-8">
                <h1>Edit Publication</h1>
            </div>

            <div class="col-12 py-3">
                {% if is_granted('ROLE_AUDAP_MEMBER') %}
                {{ include('publication/_form.html.twig', {'button_label': 'Update'}) }}
                <a class="btn btn-outline-success mt-2" href="{{ path('publication_list') }}">Retour à la liste</a>
                  {{ include("publication/_delete_form.html.twig") }}
                {% endif %}
              </div>
        </div>
    </div>
</section>

{% endblock %}
