{% extends 'base.html.twig' %}

{% block title %}New BookCollection{% endblock %}

{% block body %}
    <h1>Create new BookCollection</h1>

    {{ include('admin/book_collection/_form.html.twig') }}

    <a href="{{ path('book_collection_list') }}">back to list</a>
{% endblock %}
