{% extends 'admin/layout.html.twig' %}

{% block title %}Création un mot-clé de référence
{% endblock %}

{% block content %}
<section class="py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
				<h2>Création un mot-clé de référence</h2>

				{{ include('admin/keyword_ref/_form.html.twig') }}
			
				<a class="btn btn-outline-secondary btn-sm" href="{{ path('keyword_ref_list') }}" role="button">Retour</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
