{% extends 'base.html.twig' %}

{% block title %}Nouvel Auteur
{% endblock %}

{% block body %}
	<h2>Création d'un nouvel Auteur</h2>

	{{ include('admin/author/_form.html.twig') }}

	<a class="btn btn-outline-secondary btn-sm" href="{{ path('auteur_list') }}" role="button">Retour à la liste</a>

{% endblock %}
