{% extends 'base.html.twig' %}

{% block title %}Nouvelle Localisation
{% endblock %}

{% block body %}
	<h2>Création Nouvelle Localisation</h2>

	{{ include('/admin/localisation/_form.html.twig') }}

	<a class="btn btn-outline-secondary btn-sm" href="{{ path('localisation_list') }}" role="button">Retour à la liste</a>
{% endblock %}
