{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Notice{% endblock %}

{% block content %}
<section class="py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8">
                <h1>Edit Notice</h1>

                {{ include('/admin/notice/_form.html.twig', {'button_label': 'Update'}) }}
            
                <a href="{{ path('notice_list') }}">back to list</a>
            
                {{ include('/admin/notice/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
