{% extends 'base.html.twig' %}

{% block title %}New Notice{% endblock %}

{% block body %}
    <h1>Create new Notice</h1>

    {{ include('/admin/notice/_form.html.twig') }}

    <a href="{{ path('notice_list') }}">back to list</a>
{% endblock %}
