<section class="border-top-custom">
  <!-- Footer -->
  <footer class="bg-grey-light text-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row justify-content-center pt-4">
        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">
          <a href="/">
            <img
              class="img-fluid"
              width="250px"
              src="{{ asset('build/images/logo_AUDAP.png') }}"
              alt=""
            />
          </a>
          <p class="pt-5 small text-violet">
            L’Agence d’Urbanisme Atlantique & Pyrénées (AUDAP) a été créée en
            1998 sous l’impulsion de l’Etat, du Département des
            Pyrénées-Atlantiques et de la Communauté d’agglomération Côte basque
            - Adour. L’AUDAP intervient comme outil d’aide à la décision
            publique dans les champs de l’urbanisme, de l’aménagement et du
            développement des territoires.
          </p>

          <div class="text-white">
            <div class="column">
              <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x"></i>
                <a
                  href="https://twitter.com/audap_org"
                  title="Twitter"
                  target="_blank"
                  rel="no-follow"
                  ><i class="fab fa-twitter fa-stack-1x"></i
                ></a>
              </span>
              <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x"></i>
                <a
                  href="https://www.youtube.com/channel/UCrDta4Fc8EZg0E9XnetnE1g"
                  title="Youtube"
                  target="_blank"
                  rel="no-follow"
                  ><i class="fab fa-youtube fa-stack-1x"></i
                ></a>
              </span>
              <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x"></i>
                <a
                  href="https://www.netvibes.com/audap"
                  title="Netvibes"
                  target="_blank"
                  rel="no-follow"
                  ><i class="fas fa-plus-square fa-stack-1x"></i
                ></a>
              </span>
              <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x"></i>
                <a
                  href="https://fr.linkedin.com/company/audap"
                  target="_blank"
                  title="Linkedin"
                  rel="no-follow"
                  ><i class="fab fa-linkedin fa-stack-1x"></i
                ></a>
              </span>
            </div>
          </div>
        </div>

        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 text-white bg-grey-audap">© 2021 Copyright:</div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
