// COLORS
$green: #13373a;
$primary: $green;

$blue: #759e9e;
$info: $blue;

$beige: #f4e4d7;
$secondary: $beige;

$pink: #d8847d;
$danger: $pink;

$orange: #bc513c;
$warning: $orange;

$fallow: #cc9966;
$success: $fallow;

$black: #1d1d1b;
$dark: $black;

// FONTS
$font-family-sans-serif:'Bifocals', sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: 'Bosch', serif;

$letter-spacing-sm: 0.05em !default;
$letter-spacing-lg: 0.08em !default;
$letter-spacing-xl: 0.10em !default;
$letter-spacing-xxl: 0.12em !default;

$h1-font-size: 2.75rem !default; // 44px
$h2-font-size: 2.25rem !default; // 36px
$h3-font-size: 2rem !default; // 32px
$h4-font-size: 1.75rem !default; // 28px
$h5-font-size: 1.5rem !default; // 24px
$h6-font-size: 1.25rem !default; // 20px


$font-weight-base: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 600 !default;

$font-size-lg: 1.125rem !default; // 18px
$font-size-base: 1rem !default; // 16px
$font-size-sm: 0.9375rem !default; // 15px
$font-size-xs: 0.875rem !default; // 14px
$font-size-xxs: 0.8125rem !default; // 13px
$font-size-xxxs: 0.6875rem !default; // 11px
 
//SPACERS
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((0: 0,
    1: .25rem, // 4px
    2: .5rem, // 8px
    3: .75rem, // 12px
    4: 1rem, // 16px
    5: 1.25rem, // 20px
    6: 1.5rem, // 24px
    7: 2rem, // 32px
    8: 2.5rem, // 40px
    9: 3rem, // 48px
    10: 4rem, // 64px
    11: 5rem, // 80px
    12: 6rem, // 96px
    13: 8rem, // 128px
    14: 10rem, // 160px
    15: 12rem, // 192px
  ),
  $spacers
);

$spacer: 1.5rem !default;
$spacers: () !default;
$spacers: map-merge((0: 0,
    1: .25rem, // 4px
    2: .5rem, // 8px
    3: .75rem, // 12px
    4: 1rem, // 16px
    5: 1.25rem, // 20px
    6: 1.5rem, // 24px
    7: 2rem, // 32px
    8: 2.5rem, // 40px
    9: 3rem, // 48px
    10: 4rem, // 64px
    11: 5rem, // 80px
    12: 6rem, // 96px
    13: 8rem, // 128px
    14: 10rem, // 160px
    15: 12rem, // 192px
  ),
  $spacers);

  // This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge((0: 0,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    125: 125%,
    150: 150%,
    175: 175%,
    200: 200%,
    auto: auto),
  $sizes);
