{% extends 'base.html.twig' %}

{% block title %}Edition de la newsletter
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Ecrivez la newsletter !</h1>
		<p>Vous pouvez choisir de vous abonner a une ou plusieurs newsletters en fonction du thème choisi</p>
		{{form(form)}}
		</div>
	{% endblock %}
