{% extends 'base.html.twig' %}

{% block title %}Hello NewslettersController!
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Veillez vous inscrire a nos newsletters</h1>
		<p>Vous pouvez choisir de vous abonner a une ou plusieurs newsletters en fonction du thème choisi</p>
		{{form(form)}}
		</div>
	{% endblock %}
