<form method="post" action="{{ path('keyword_ref_delete', {'id': keyword_ref.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ keyword_ref.id) }}">
    <button class="btn btn-outline-primary btn-sm">Suppression</button>
</form>
