{% extends 'base.html.twig' %}

{% block title %}Edition KeywordRef
{% endblock %}

{% block body %}
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
				<h2>Edition KeywordRef</h2>

				{{ include('keyword_ref/_form.html.twig', {'button_label': 'Mise à Jour'}) }}
				{{ include('keyword_ref/_delete_form.html.twig') }}
			</table>
			<a class="btn btn-outline-secondary btn-sm" href="{{ path('keyword_ref_index') }}" role="button">Retour à la liste</a>
		</div>
	</div>

{% endblock %}
