{% extends 'base.html.twig' %}

{% block title %}Création Nouveau KeywordRef
{% endblock %}

{% block body %}
	<h2>Création Nouveau KeywordRef</h2>

	{{ include('keyword_ref/_form.html.twig') }}

	<a class="btn btn-outline-secondary btn-sm" href="{{ path('keyword_ref_index') }}" role="button">Retour à la liste</a>
{% endblock %}
