<form method="post" action="{{ path('emprunt_delete', {'id': borrow.id}) }}" onsubmit="return confirm('Souhaitez-vous supprimer cet emprunt ?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ borrow.id) }}">
	<button class="btn btn-outline-primary btn-sm">Supprimer</button>
</form>
