{% extends 'admin/layout.html.twig' %}

{% block title %}Editer un emprunt
{% endblock %}

{% block content %}
<section class="py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8">
				<table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">

					<h2>Editer un emprunt</h2>
					
					<div class="mb-3">
						{{ include('admin/borrow/_form.html.twig', {'button_label': 'Mise à Jour'}) }}
					</div>
					{{ include('admin/borrow/_delete_form.html.twig') }}
				</table>
				<a class="btn btn-outline-secondary btn-sm" href="{{ path('emprunt_list') }}" role="button">Retour</a>
	
            </div>
        </div>
    </div>
</section>

{% endblock %}
