{% extends 'base.html.twig' %}

{% block title %}Edition des Emprunts
{% endblock %}

{% block body %}
	<h2>Edition des Emprunts</h2>

	{{ include('admin/borrow/_form.html.twig', {'button_label': 'Mis à Jour'}) }}
	{{ include('admin/borrow/_delete_form.html.twig') }}
	<button>
		<a href="{{ path('emprunt_list') }}">Retour à la liste</a>
	</button>


{% endblock %}
