{% extends 'admin/layout.html.twig' %}

{% block title %}Nouvel Emprunt
{% endblock %}

{% block content %}
<section class="py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
				<h2>Creation nouvel Emprunt</h2>

				{{ include('admin/borrow/_form.html.twig') }}
			
				<a class="btn btn-outline-secondary btn-sm mt-3" href="{{ path('emprunt_list') }}" role="button">Retour à la liste</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
