{% extends 'base.html.twig' %}

{% block title %}Nouvel Emprunt
{% endblock %}

{% block body %}
	<h2>Creation nouvel Emprunt</h2>

	{{ include('admin/borrow/_form.html.twig') }}

	<a class="btn btn-outline-secondary btn-sm" href="{{ path('emprunt_list') }}" role="button">Retour à la liste</a>

{% endblock %}
