<form method="post" action="{{ path('keyword_geo_delete', {'id': keyword_geo.id}) }}" onsubmit="return confirm('Souhaitez-vous supprimer ce mot-clé ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ keyword_geo.id) }}">
    <button class="btn btn-outline-primary btn-sm">Supprimer</button>
</form>
