{% extends 'base.html.twig' %}

{% block title %}Création Nouveau Mot-Clé de Géolocalisation{% endblock %}

{% block body %}
    <h2>Création Nouveau Mot-Clé de Géolocalisation</h2>

    {{ include('/admin/keyword_geo/_form.html.twig') }}

    <a class="btn btn-outline-secondary btn-sm" href="{{ path('keyword_geo_list') }}" role="button">Retour à la liste</a>
{% endblock %}
