<form method="post" action="{{ path('thematic_delete', {'id': thematic.id}) }}" onsubmit="return confirm('Souhaitez-vous supprimer cette thématique ?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ thematic.id) }}">
	<button class="btn btn-outline-primary btn-sm">Supprimer</button>
</form>
