{% extends 'admin/layout.html.twig' %}

{% block title %}Ajouter nouvelle Langue
{% endblock %}

{% block content %}
<section class="py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
				<h2>Ajouter une nouvelle Langue</h2>
				{{ include('/admin/language/_form.html.twig') }}
				<a class="btn btn-outline-secondary btn-sm mt-2" href="{{ path('language_list') }}" role="button">Retour</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
