{% extends 'base.html.twig' %}

{% block title %}Nouvelle Langue
{% endblock %}

{% block body %}
	<h2>Création Nouvelle Langue</h2>

	{{ include('/admin/language/_form.html.twig') }}

	<a class="btn btn-outline-secondary btn-sm" href="{{ path('language_list') }} " role="button">Retour à la liste</a>
{% endblock %}
