{% extends 'base.html.twig' %}

{% block title %}Langue
{% endblock %}

{% block body %}
	<h2>Détail Langue</h2>
	<div class="table-responsive">
		<table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
			<tbody>
				<tr>
					<th>Nom</th>
					<td>{{ language.name }}</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-outline-primary btn-sm" href="{{ path('language_edit', {'id': language.id}) }}" role="button">Edition</a>
		{{ include('/admin/language/_delete_form.html.twig') }}
		<a class="btn btn-outline-secondary btn-sm" href="{{ path('language_list') }}" role="button">Retour à la Liste</a>


	{% endblock %}
